In [2]:
import pandas as pd
categories = pd.read_csv('codes.csv')

categories.head()

categories.tail()

,Code,CodeDescription,chap,HistoricalNotes,Notes,active,CodingPrinciples
3645,U1290,Video urodynamic studies,36.2.0,NaN,NaN,True,NaN
3646,V5260,Myelogram,36.2.0,NaN,NaN,True,NaN
3647,V5260,Myelogram,36.3.0,NaN,NaN,True,NaN
3648,V5281,Dynamic CT myelogram,0.0.0,New code added in December 2024,NaN,True,NaN
3649,X3530,Sedation or general anaesthesia for MRI or CT ...,35.0.0,New code added in December 2014Code inactivate...,NaN,False,NaN

In [3]:
categories.describe()

,Code,CodeDescription,chap,HistoricalNotes,Notes,active,CodingPrinciples
count,3649,3649,3650,769,119,3650,235
unique,3629,2880,31,234,98,2,128
top,OP010,Glucose level,34.1.1,New code added in June 2018,Use 5643B,True,1584B
freq,3,6,1374,205,22,3529,25

In [4]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Code              3649 non-null   object
 1   CodeDescription   3649 non-null   object
 2   chap              3650 non-null   object
 3   HistoricalNotes   769 non-null    object
 4   Notes             119 non-null    object
 5   active            3650 non-null   bool
 6   CodingPrinciples  235 non-null    object
dtypes: bool(1), object(6)
memory usage: 174.8+ KB

In [7]:
categories['Code'].duplicated().sum()
categories['Code'].value_counts()

Code
OP010    3
OP001    2
IM284    2
5046B    2
C4520    2
        ..
2702O    1
2702U    1
2703B    1
2703H    1
X3530    1
Name: count, Length: 3629, dtype: int64

In [8]:
categories['Code'].value_counts()

Code
OP010    3
OP001    2
IM284    2
5046B    2
C4520    2
        ..
2702O    1
2702U    1
2703B    1
2703H    1
X3530    1
Name: count, Length: 3629, dtype: int64