In [14]:
import pandas as pd
categories = pd.read_csv('procedure_codes.csv')

categories.head()

categories.tail()

,Code,CodeDescription,chap,HistoricalNotes,Notes,active,CodingPrinciples
3645,U1290,Video urodynamic studies,36.2.0,NaN,NaN,True,NaN
3646,V5260,Myelogram,36.2.0,NaN,NaN,True,NaN
3647,V5260,Myelogram,36.3.0,NaN,NaN,True,NaN
3648,V5281,Dynamic CT myelogram,0.0.0,New code added in December 2024,NaN,True,NaN
3649,X3530,Sedation or general anaesthesia for MRI or CT ...,35.0.0,New code added in December 2014Code inactivate...,NaN,False,NaN

In [15]:
categories['unique_id'] = categories['Code'] + categories['chap']

In [16]:
categories.describe()

,Code,CodeDescription,chap,HistoricalNotes,Notes,active,CodingPrinciples,unique_id
count,3649,3649,3650,769,119,3650,235,3649
unique,3629,2880,31,234,98,2,128,3645
top,OP010,Glucose level,34.1.1,New code added in June 2018,Use 5643B,True,1584B,OP03132.2.0
freq,3,6,1374,205,22,3529,25,2

In [17]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Code              3649 non-null   object
 1   CodeDescription   3649 non-null   object
 2   chap              3650 non-null   object
 3   HistoricalNotes   769 non-null    object
 4   Notes             119 non-null    object
 5   active            3650 non-null   bool
 6   CodingPrinciples  235 non-null    object
 7   unique_id         3649 non-null   object
dtypes: bool(1), object(7)
memory usage: 203.3+ KB

In [18]:
categories['unique_id'].duplicated().sum()
categories['unique_id'].value_counts()

unique_id
OP03132.2.0    2
0538G34.1.3    2
OP01032.2.0    2
6004G34.1.3    2
0001B34.0.0    1
              ..
2702L34.1.1    1
2702O34.1.1    1
2702U34.1.1    1
2703B34.1.1    1
X353035.0.0    1
Name: count, Length: 3645, dtype: int64

In [9]:
categories['unique_id'].value_counts()

unique_id
S061115.1.0    2
X600220.0.0    2
171601.4.0     1
T211011.9.0    1
T200911.9.0    1
              ..
G790010.0.0    1
G808010.0.0    1
G808110.0.0    1
G808210.0.0    1
Z409321.0.0    1
Name: count, Length: 3447, dtype: int64